// 
// RESPONSE MOBILE
// 
@mixin mobile {
    @media only screen and (max-width: $Mobile) {
      @content;
    }
  }
// 
// RESPONSE DESKTOP
// 
@mixin desktop {
    @media only screen and (min-width: $Desktop) {
        @content;
    }
}
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin custum-size($height: 100%,$width:100%) {
    height: $height;
    width: $width;
}
@mixin container($height: 100%,$width:100%) {
    display: block;
    @include custum-size( );
    @include desktop {
        background: brown;
    }
    @include mobile{
        background: cadetblue;
    }
}
